#home{
    position: relative;
    height: 73vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 10vw;
   margin-right: 10vw;
   margin-bottom: 3vh;
   padding: 1px;

   @media only screen and (min-width: 768px){
       height: 55vh;
       justify-content: center;
       margin-bottom: 35vh;
       width: 50vw;
       left: 20vw;
       top: 0vh;
       
   }
}

#home-heading{
    color: rgb(227, 226, 247);
    font-family: $font-primary;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    text-shadow: -6px 5px 3px rgba(28,8,25,0.45);
    padding: 1px;
   
    

@media only screen and (min-width: 768px){
        display: flex;
        flex-direction: row;
        margin: 0;
        width: 30vw;
        margin-top: 5%;
        }
    
    span{
        display: flex;
        font-size: 3.5em;
        height:100%;
        @media only screen and (min-width: 768px){
            font-size: 3.88em;
        }
        
    }
}


#home-subheading{
    display: flex;
    flex-direction: row;
    font-family: $font-secondary;
    padding-top: 2vh;
    padding-bottom: 2vh;
    @media only screen and (min-width: 768px){
        padding-top: 1%;
    }

    span{
        display: flex;
        font-size: 1.7em;
    }
    
    #slash{
        width: 30vw;
        margin-right: 5vw;
        display: flex;
        
        @media only screen and (min-width: 768px){
            margin:0;
            width: 15%;
        }
    }
}


#cta{
    height: 10vh;
    @include flexCentered(column);
    margin-top: 15%;
    margin-bottom: 5%;

    @media only screen and (min-width: 768px){
        margin: 0;
        width: 70%;
        min-width: 30vw;
        margin-top: 3%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        height: 15%;
    }

    #button{
        @include primaryButton(100%, 1em);
        margin-bottom: 3vh;
        min-height: 5vh;
        @media only screen and (min-width: 768px){
            margin:0;
            font-size: 1.1em;
            width: 50%;
            height: 98%;
            padding: 1%;
        }
    }

    #button2{
        letter-spacing: 0.1em;
        min-height: 5vh;
        margin-bottom: 5vh;
        @include secondaryButton(100%, 0.9em);

        @media only screen and (min-width: 768px){
            margin:0;
            width: 50%;
            height: 92%;
            padding: 1%;
            margin-left: 2%;
        }
    }
}
