#home{
    position: relative;
    height: 70%;
    top: 25vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 0;
    padding-left: 10%;
    padding-right: 10%;
    

   @media only screen and (min-width: 768px){
       height: 70vh;
       display: flex;
       //justify-content: center;
       padding: 0;
       margin-bottom: 10vh;
       width: 50vw;
       right: 20vw;
       left: 20vw;
       top: 0vh;
       
   }
}

#home-heading{
    color: rgb(227, 226, 247);
    font-family: $font-primary;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    text-shadow: -6px 5px 3px rgba(28,8,25,0.45);
    padding: 1px;
    flex-shrink: 0;
    

@media only screen and (min-width: 768px){
        display: flex;
        flex-direction: row;
        font-size: 1em;
        margin: 5% 0 0 0;
        padding: 0;
        width: 30vw;
        }
    
    span{
        display: flex;
        font-size: 3.5em;
        height:100%;
        @media only screen and (min-width: 768px){
            font-size: 3.88em;
        }
        
    }
}


#home-subheading{
    display: flex;
    flex-direction: row;
    font-family: $font-secondary;
    padding-top: 2%;
    padding-bottom: 2%;
    flex-shrink: 0;
    @media only screen and (min-width: 768px){
        padding-top: 1%;
    }

    span{
        display: flex;
        font-size: 1.7em;
    }
    
    #slash{
        width: 30%;
        display: flex;
        padding-right: 4%;
        
        @media only screen and (min-width: 768px){
            margin:0 2% 0 0 ;
            width: 15%;
        }
    }
}


#cta{
    height: 10vh;
    @include flexCentered(column);
    flex-shrink: 0;
    margin-top: 15%;
    margin-bottom: 5%;

    @media only screen and (min-width: 768px) and (max-width: 1439px){
        margin: 0;
        width: 70%;
        min-width: 30vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        height: 10%;
    }

    @media only screen and (min-width: 1440px){
        height: 5vh;
        flex-direction: row;

    }

    #button{
        @include primaryButton(100%, 1em);
        margin-bottom: 3vh;
        min-height: 5vh;
        @media only screen and (min-width: 768px){
            margin:0;
            font-size: 1.1em;
            width: 50%;
            height: 98%;
        }
    }

    #button2{
        letter-spacing: 0.1em;
        min-height: 5vh;
        margin-bottom: 5vh;
        @include secondaryButton(100%, 0.9em);

        @media only screen and (min-width: 768px){
            margin:0;
            width: 50%;
            height: 90%;
            margin-left: 2%;
        }
    }
}
