#navbar{
    @include flexCentered(row);
    flex-shrink: 0;
    position: absolute;
    bottom: 0;
    height: 10vh;
    padding: 5vh 0;
    left: 5%;
    right: 5%;
    z-index: 5;
    width: auto;
    cursor: pointer;
    

    @media only screen and (min-width: 768px){
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: flex-start;
        top: 0;
        width: 10%;
        height: 100vh;
        padding-right: 5%;
        margin-top: 0;
        left: 5%;
        right:5%;
    }

    #home-btn{
        display: flex;
        order: 1;
    }
    .thumbnail{
        width: 20vw;
        @include flexCentered(column);
        align-self: center;
        &:active{
            filter: brightness(150%);
        }
        @media only screen and (min-width: 768px){
            width: 50%;
        }
        img{
            width: 10vw;
            height: auto;
            @media only screen and (min-width: 768px){
                width: 50%;
                height: auto;
                margin-top: 40%;
            }
        }
    }
}