#navbar{
    @include flexCentered(row);
    position: absolute;
    bottom: 3vh;
    height: 10vh;
    z-index: 5;
    width: 100vw;
    cursor: pointer;
    

    @media only screen and (min-width: 768px){
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: flex-start;
        top: 0;
        width: 10%;
        height: 100%;
        padding-right: 5%;
    }

    #home-btn{
        display: flex;
        order: 1;
    }
    .thumbnail{
        width: 25%;
        @include flexCentered(column);
        align-self: flex-end;
        &:active{
            filter: brightness(150%);
        }
        @media only screen and (min-width: 768px){
            width: 50%;
        }
        img{
            width: 50%;
            height: 50%;
            @media only screen and (min-width: 768px){
                width: 50%;
                height: auto;
                margin-top: 40%;
            }
        }
        span{
            padding: 7%;
            font-family: $font-secondary;
            text-transform: capitalize;
            display: none;
            @media only screen and (min-width: 768px){
                display: none;
            }
        }
    }
    
    
}