#work{
    @include positioning();
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    @media only screen and (min-width: 768px){
        width: 80vw;
        height: 50%;
        position: relative;
        margin-left: 20vw;
    }

    #card-container{
        height: 100%;
        width: 100%;
        float: right;
        display: flex;
        flex-direction: row;
        flex-shrink: 0;
        @media only screen and (min-width: 768px){
            width: 90%;
            float:left;
            height: 45vh;
            margin-top: 20vh;
            margin-right: 10vw;
            margin-bottom: 0;
        }
        .cards{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-self: flex-end;
            min-width: 52vw;
            max-height: 100%;
            box-shadow: -3px 60px 128px -36px rgba(78,43,148,1);

            @media only screen and (min-width: 768px){
                min-width: 12vw;
                max-width: 12vw;
                margin: 5px;
            }
        
            .card-title{
                font-weight: bold;
                font-family: $font-primary;
                padding: 5% 0%;
                font-size: 1.5em;
                height: 5%;
                width: 100%;
                text-align: center;
                @media only screen and (min-width: 768px){
                    font-size: 0.9em;
                    height: auto;
                }
            }

            .card-desc{
                font-family: $font-secondary;
                padding-bottom: 10%;
                font-size: 1em;
                text-align: center;
                height: 5%;
                width: 100%;
                span{
                    border: 1px solid $color-darker;
                    background-color: rgba(11, 11, 165, 0.411);
                    padding: 1vw 1vw 0vw 1vw;
                    border-radius: 15px;
                }
                @media only screen and (min-width: 768px){
                    font-size: 0.7em;
                    height: auto;
                }
            }
            
        }
        #card-1{
            height: 90%;
            transform: translate(25vw);
           background-image: url("../images/weatherapp.jpg");
            background-size: 100% 100%;
            @media only screen and (min-width: 768px){
                transform: none;
                height: 100%;
                
            }
        }

        #card-2{
           transform: translate(35vw);
           height: 70%;
           background-image: url("../images/jsgame.jpg");
            background-size: 100% 100%;
           @media only screen and (min-width: 768px){
        transform: none;
           height: 100%;
        }
        }

        #card-3{
            display: flex;
            align-self: flex-end;
            background-image: url("../images/bootstrap.jpg");
            background-size: cover;
            @media only screen and (min-width: 768px){
                transform: none; 
                height: 100%;
                
            }
        }

        #card-4{
            background-image: url("../images/website.jpg");
            background-size: 100% 100%;
            @media only screen and (min-width: 768px){
                transform: none; 
                height: 100%;
            }
        }

        #card-5{
            background-image: url("../images/portfolio.jpg");
            @media only screen and (min-width: 768px){
                transform: none; 
                height: 100%;
            }
        }
    }

    
    .work-buttons{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-top: 5%;
        height: 15%;
        @media only screen and (min-width: 768px){
            height: auto;
            margin-top: 5%
        }
        a{
            height: 100%;
            width: 100%;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            text-align: center;
            
        }
        .button-git{
            @include primaryButton(98.6%, 0.7em);
            @media only screen and (min-width: 768px){
                margin-left: 0;
                margin-bottom: 2%;
                align-self: center;
                width: 98.6%;
            }
        }
        .button-url{
            margin-top: 3%;
            @include secondaryButton(calc(98.6% - 3px), 0.7em);
            align-self: center;
        }
    }

}