#work{
    height: 75%;
    width: 100%;
    top: 10%;
    bottom: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 0;
    @media only screen and (min-width: 768px){
        width: 80vw;
        height: 70vh;
        margin-left: 20vw;
        margin-bottom: 10vh;
    }
    #card-container{
        height: 60vh;
        width: 100%;
        float: right;
        display: flex;
        flex-direction: row;
        flex-shrink: 0;
        @media only screen and (min-width: 768px){
            width: 90%;
            float:left;
            height: 50vh;
            margin-bottom: 15vh;
            margin-top: 5vh;
            margin-right: 10vw;
        }
        .cards{
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-self: flex-end;
            min-width: 60vw;
            max-height: 60vh;
            box-shadow: -34px -33px 30px -11px rgba(77, 50, 80, 0.24);

            @media only screen and (min-width: 768px){
                min-width: 12vw;
                max-width: 12vw;
                min-height: 30vh;
                margin: 5px;
            }
        
            .card-title{
                font-weight: bold;
                font-family: $font-primary;
                letter-spacing: 0.1em;
                padding: 0% 3%;
                font-size: 1.3em;
            }

            .card-desc{
                font-family: $font-secondary;
                padding: 3% 3%;
                font-size: 0.9em;
            }
            
        }
        #card-1{
            height: 90%;
            transform: translate(20vw);
            background-image: url("../images/weatherapp.jpg");
            background-size: 100% 100%;
            @media only screen and (min-width: 768px){
                transform: none;
                height: 100%;
                
            }
        }

        #card-2{
           transform: translate(30vw);
           height: 70%;
           background-image: url("../images/jsgame.jpg");
            background-size: 100% 100%;
           @media only screen and (min-width: 768px){
            transform: translateY(-2%);
            height: 90%;
        }
        }

        #card-3{
            display: flex;
            align-self: flex-end;
            background-image: url("../images/bootstrap.jpg");
            background-size: cover;
            @media only screen and (min-width: 768px){
                transform: translateY(-4%);
                height: 80%;
                
            }
        }

        #card-4{
            background-image: url("../images/website.jpg");
            background-size: 100% 100%;
            @media only screen and (min-width: 768px){
                transform: translateY(-6%);
                height: 70%;
            }
        }

        #card-5{
            background-image: url("../images/portfolio.jpg");
            @media only screen and (min-width: 768px){
                transform: translateY(-8%);
                height: 60%;
            }
        }
    }

    
    .work-buttons{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 7%;
        width: 95%;
        margin: 2.5% 2.5%;
        a{
            height: 100%;
            width: 50%;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            text-align: center;
            
        }
        .button-git{
            @include primaryButton(50%, 0.7em);
            @media only screen and (min-width: 768px){
                margin-left: 0;
                width: 46%;
            }
        }
        .button-url{
            @include secondaryButton(50%, 0.7em);
        }
    }

}